div {
    color: green;
}

.block {
    color: red;
}

#id-block {
    color: aqua;
}

[data-example] {
    color: yellow;
}

[data-example="value2"] {
    color: black;
}

.block3, .block4, .block5 {
    color: blueviolet;
}

div.blue-block {
    color: blue;
}

/* только вложенный */
div .orange {
    color: orange;
}

/* только прямые потомки */
.parent>.child {
    color: brown;
}


/* 100 */
#square {
    background-color: green;
}

/* 10 */
.block-1 {
    width: 500px;
    height: 500px;
    background-color: black;
}

/* 10 */
.block-2 {
    background-color: red;
}

/* 1
div {
    background-color: blueviolet !important;
    -> 10000 
} */


/* 10 */
.block-3 {
    width: 500px;
    height: 500px;
    background-color: black;
}

/* 1 + 10 = 11 */
div.block-3 {
    background-color: violet;
}